 <style > .product_box_inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.product_box_col_small h3 {
    font-size: 40px;
    font-weight: 500;
    color: #206766;
}
.product_box_col_small p {
    font-size: 26px;
    font-weight: 500;
    padding: 0;
}
.product_box_col_small span {
    font-size: 28px;
    font-weight: 500;
    color: #206766;
}
.product_box_col_small_two p {
    padding-bottom: 0;
    padding-top: 33px;
    line-height: 1;
    font-weight: 500;
    font-size: 22px;
}

.product_box_col_small_two ul {
    list-style: inside;
}
.product_box_col_small_two ul li {
    font-size: 22px;
    line-height: 1.2;
}
.product_box_col_small_three a {
    background: #206766;
    padding: 10px 42px;
    color: #fff;
    border-radius: 31px;
}

.product_box_col_small_three {
    padding-top: 150px;
}
.product_box_inner {
    padding-bottom: 100px;
}
.product_box_col img {
    width: 85%;
}

@media (max-width: 768px) {
    .product_box_col {
        padding: 50px 0;
    }

    .product_box_inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .product_box_col_small_three {
        padding-top: 50px;
    }
    .product_box_wapper {
        padding: 0 20px;
    }
    .product_box_col_small h3 {
        font-size: 32px;
    }
    .product_box_col_small p {
        font-size: 20px;
    }
    .product_box_col_small span {
        font-size: 24px;
    }
    .product_box_col_small_two p {
        font-size: 22px;
    }
    .product_box_col_small_two ul li {
        font-size: 18px;
    }
    .product_box_col_small_three a {
        font-size: 18px;
    }
}

    </style>


    <div class="product_box_wapper">
        <div class="product_box_inner">
            <div class="product_box_col">

                <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/flore_3_month.webp?v=1677561301" alt="clinical microbiom adult" loading="lazy">
            </div>
            <div class="product_box_col_two">
                <div class="product_box_col_small">
                    <h3> 3 Month Program </h3>
                    <p>GET GUT HEALTHY</p>
<!--                     <span>$500</span> -->
                </div>
                <div class="product_box_col_small_two">
                    <p>WHAT'S INCLUDED</p>
                <ul>
                    <li>1 Test Kit </li>
                    <li>1 Month of Bloom Vitamin & Mineral Supplement (VMS)</li>
                    <li>7 days of Prime Probiotics</li>
                    <li>3 Months of Personalized Probiotics</li>

                </ul>
                </div>
<!--              
       <div class="product_box_col_small_three">
                <a href="">LEARN MORE</a>
            </div> -->
            </div>


        </div>
    </div>

