 <style>
    .how_to_tab_inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 200px;
}
   .how_to_tab_col h3{
         font-size: 35px;
    font-weight: 500;
    color: #206766;
    text-align: center;
   }
   .how_to_tab_col_two img{
     width: 50%;
   }
   .how_to_tab_col_two{
     text-align: center;
   }
   .how_to_tab_col_three p{
    text-align: center;
     font-size: 19px;
   }
     @media(max-width: 768px){
      .how_to_tab_inner {
   padding: 70px 20px;
   }
          .how_to_tab_col_two img{
     width: 100%;
   }
   }
    </style>

    <div class="how_to_tab_wapper">
        <div class="how_to_tab_inner">
            <div class="how_to_tab_col">
                <h3> How it Works</h3>
            </div>
            <div class="how_to_tab_col_two">

                <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6_a4daca01-c628-45d7-8b24-9dc54f447f9e.png?v=1667813000" alt="">
            </div>
            <div class="how_to_tab_col_three">
                <p>
                    <strong>
                        PLEASE NOTE:
                    </strong>
                  It takes approximately <strong> 3 WEEKS</strong> to receive probiotic once <br> sample is sent back and been received at our lab.
                </p>

            </div>

        </div>
    </div>