<article style="max-width: 900px;">
<h4>Sun Genomics Online Privacy Policy</h4>
<p>Effective Date: July 23, 2018</p>
<p><strong>Information We Collect</strong></p>
<p>When you use our website, customer portal or other Sun Genomic related platform, such as to purchase something from our online store, we collect certain personal information from you, such as your name, address and email address, as part of the buying and selling process. We also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your internet browser and operating system.</p>
<p><strong>How We Share Personal Information</strong></p>
<p>We may share some of your personal information with our business partners or entities that perform services on our behalf. In general, the third-party providers we use will only collect, use and disclose your personal information to the extent necessary to allow them to perform the services they provide to us.</p>
<p>Certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies for the information we are required to provide to them for your online transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled. In particular, remember that certain providers may be located in, or have facilities that are located in, a different jurisdiction than either you or us. If you elect to proceed with a transaction that involves the services of a third-party service provider, your personal information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located. For example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, your personal information used in completing that transaction may be subject to disclosure under United States laws and regulations, including the USA PATRIOT Act.</p>
<p>We may disclose your personal information where we believe necessary to comply with legal or regulatory obligations, or if you violate our Terms of Service.</p>
<p>Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this online privacy policy or our website’s Terms of Service.</p>
<p>Our online store uses Google Analytics to help us learn about your store visits and the pages being viewed.</p>
<p>Email marketing (if applicable): We may send you emails about our online store, new products and other updates.</p>
<p><strong>Our Relationship with Shopify, Inc.</strong></p>
<p>Our online store is hosted on Shopify Inc. Shopify provides us with an online e-commerce platform that allows us to sell our products and services to you. In providing information in our online store, you may be also providing that information to Shopify. Information collected by Shopify is subject to their <a href="https://www.shopify.com/legal/terms" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://www.shopify.com/legal/privacy" target="_blank" rel="noopener">Privacy Policy</a>. We may also share information with Shopify for the purpose of providing you with our products and services.</p>
<p><strong>Revising Your Personal Information</strong></p>
<p>You may revise your personal information by going to the User Profile on our website. You may login, view and revise your personal information.</p>
<p><strong>Links</strong></p>
<p>When you click on links on our online store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p>
<p><strong>Protection of Personal Information</strong></p>
<p>To protect your personal information, we take reasonable precautions and follow industry best practices to ensure it is not lost, misused, accessed, disclosed, altered or destroyed.</p>
<p>If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
<p><strong>Our Use of Cookies and Similar Tools </strong></p>
<p>Our website uses cookies to provide you with a better online shopping experience. The types of cookies we use include the following:</p>
<ul>
<li>session_id, unique token, sessional -Allows Shopify to store information about your session (referrer, landing page, etc).</li>
<li>shopify_visit, no data held, persistent for 30 minutes from the last visit - Used by our website provider’s internal statistics tracker to record the number of visits.</li>
<li>shopify_uniq, no data held, expires at midnight (relative to the visitor) of the next day - Counts the number of visits to a store by a single customer.</li>
<li>cart, unique token, persistent for 2 weeks - Stores information about the contents of your cart.</li>
<li>secure_session_id, unique token - Sessional</li>
<li>storefront_digest, unique token, indefinite - If the website’s online storefront has a password, this is used to determine if the current visitor has access.</li>
<li>PREF, persistent for a very short period of time - Set by Google and tracks who visits the store and from where</li>
</ul>
<p>Your browser may permit you to disable some or all of these cookies, but doing so may affect your experience on our website.</p>
<p>Our website does not respond differently or limit our practices set forth under this online privacy policy when you access the website with a browser that uses a “do not track” signal or similar mechanism.</p>
<p><strong>Use of Our Site by Minors</strong></p>
<p>By using this website, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and that you have given us your consent to allow any of your minor dependents to use this site.</p>
<p>We do not intend to invite children to visit our website and we do not knowingly collect or retain personal information from children under the age of thirteen (13). For more information on the Children’s Online Privacy Protection Act (COPPA), please visit the Federal Trade Commission website at <a href="https://www.ftc.gov" target="_blank" rel="noopener">www.ftc.gov</a>.</p>
<p><strong>Updates to this Online Privacy Policy</strong></p>
<p>We reserve the right to modify this online privacy policy at any time, so please review it frequently. Any revised version will be posted on the website with the revised effective date and changes and clarifications will take effect immediately on the posting of the revised version. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
<p>If all or a portion of our business is acquired by another entity, your personal information may be transferred to one or more other entities.</p>
<p><strong>Questions and Contact Information</strong></p>
<p>If you would like to view, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information about our privacy policy, please contact our Privacy Compliance Officer at <a href="mailto:privacy@sungenomics.com">privacy@sungenomics.com</a> or by mail at</p>
<p>Sun Genomics <br> [Re: Privacy Compliance Officer] <br> 2801 B Street San Diego California US 92102</p>
</article>