<div class="producttab">
  <div class="tab">
    <button class="tablinks active" data-tab-details="how_it_works" data-tab="9" data-current-active="2">
    HOW IT WORKS
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="what_is_tested" data-tab="10">
      WHAT IS TESTED
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="what_included" data-tab="11">
      WHAT'S INCLUDED
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="who_it_for" data-tab="12">
      WHO'S IT FOR?
    </button>
  </div>
</div>


<div class="tab_data product-content-tab-9 current-active-content-2" id="how_it_works">
<div class="processing-section">
        <div class="processing-row">
            <div class="processing-small-row">
                <div class="small-processing-col-1 step-images">
                    <div class="img-box">

                        <img  src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6c476cef-df79-4cad-836e-3f10bae92c69.png?v=1656072845" alt="Order" loading="lazy">
                        <span> <img class="img_nu_1" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Order your kit
                    </h3>
                </div>
                <div class="small-processing-col-2 step-images">
                    <div class="img-box">
                        <img   src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_1_ea1ed196-7e7b-4c02-bacd-7579e90cc735.png?v=1656072845" alt="Complete" loading="lazy">

                        <span> <img  class="img_nu_2" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Complete Sample
                    </h3>
                </div>
                <div class="small-processing-col-3 step-images">
                    <div class="img-box">
                        <img  src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_2_def4cc22-65f5-45a9-baad-1f5b735d725d.png?v=1656072845" alt="analyze" loading="lazy">

                        <span> <img  class="img_nu_3" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Analyze Sample
                    </h3>
                </div>
                <div class="small-processing-col-4 step-images">
                    <div class="img-box">

                        <img  src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_5_3b843854-5f31-4732-bce2-5bbebab1b690.png?v=1656072845" alt="Receive" loading="lazy">


                        <span> <img  class="img_nu_4" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Receive Results
                    </h3>
                </div>
                <div class="small-processing-col-5 step-images">
                    <div class="img-box">
                        <img   src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_3_4fa84c7f-bbbf-48ac-af99-4638a5280635.png?v=1656072845" alt="custom formula" loading="lazy">


                        <span> <img class="img_nu_5" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Custom Formula
                    </h3>
                </div>
                <div class="small-processing-col-6 step-images">
                    <div class="img-box">
                        <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_4_d2df361f-9795-4ca5-93bb-1847c0da07e4.png?v=1656072845" alt="shipment" loading="lazy">
                        <span> <img  class="img_nu_6" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        Monthly Probiotics Shipments
                    </h3>
                </div>
                <div class="small-processing-col-7 step-images">
                    <div class="img-box">
                        <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_5_1.png?v=1660841983" alt="retest" loading="lazy">
                        <span> <img  class="img_nu_7" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                        retest at month 4 of probiotics
                    </h3>
                </div>
                <div class="small-processing-col-8 step-images">
                    <div class="img-box">
                        <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_18.png?v=1672828009" alt="Track order" loading="lazy">
                        <span> <img  class="img_nu_8" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" alt="arrow" loading="lazy"> </span>
                    </div>
                    <h3>
                   track progress
                    </h3>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="tab_data product-content-tab-10" id="what_is_tested">
  <div class="accordion_tab_header down-arrow">WHAT IS TESTED</div>
  <div class="tabContent closed">
    <h3>The first step is the Floré Gut Health Test, which will give <br>you a detailed look at your gut microbiome.  </h3>
    <div class="testDetailOuter">
      <span
        >Our gut health test can detect over 23,000 microbes in your gut,
        including:</span
      >
      <ul class="points-check">
        <li>Bacteria</li>
        <li>Fungus</li>
        <li>Yeast</li>
        <li>Parasites</li>
        <li>Viruses</li>
      </ul>
      <p class="content">
        With the use of whole genome sequencing technology, we can detect these down to the strain level and the relative abundance of each microbe. You’ll receive a complete microbiome report, including other health scores such as your Immunity and joint health. Use your gut information to determine which foods and supplements are best for you, or upgrade to our Precision Probiotics for your custom gut health solution.
      </p>
         <p class="content">
  The information Floré by Sun Genomics provides is for educational and informational use only. The information is not intended to be used by the customer for any diagnostic purpose and is not a substitute for professional medical advice. You should always seek the advice of your physician or other healthcare providers with any questions you may have regarding diagnosis, cure, treatment, mitigation, or prevention of any disease or other medical condition or impairment or the status of your health. 
   </p>
    </div>
    </div>
  </div>

<div class="tab_data product-content-tab-11" id="what_included">
  <div class="accordion_tab_header down-arrow">WHAT'S INCLUDED</div>
  <div class="tabContent closed">
    <div class="whats-included-row">
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Microflora Analysis</h3>
        <p class="whats-included-li-content">Start with the at-home stool microbiome test. Your results identify bacteria, yeast (fungi), viruses, and parasites in an easy to understand process using real-world explanations and actionable recommendations. This analysis also includes a Floré Gut Health score using a patented system developed by our team to help you track your gut health over time. </p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Custom Probiotic Formula</h3>
        <p class="whats-included-li-content">Our formulation scientists use your Health & Diet survey responses and your microbiome results to create a truly custom formula focusing on the specific issues in your gut. Each formula has a custom mix of probiotics and prebiotics and the CFU varies depending on your needs. </p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Sustainable Packaging</h3>
        <p class="whats-included-li-content">Your first month's supply of precision probiotics will come with an environmentally-friendly personalized bamboo container shipped directly to your door. Refills will come in small recyclable pouches so you can refill your bamboo container and reduce waste. Boxes and ice packs are also recyclable.</p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Mobile App</h3>
        <p class="whats-included-li-content">In addition to our web portal, you can use the Floré mobile app for free to view your results and formula. View trends and changes between results on the app. Weekly surveys and daily stool logs on the app allow you to keep track of your gut health over time. (Weekly surveys also available on the web portal.) </p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Automatic Renewal </h3>
        <p class="whats-included-li-content">Never worry about running out! The monthly program automatically renews every 30 days so you always have a batch of probiotics in hand. Plus, you have access to free retesting every 4 months of probiotics while active on the the plan. Skip or cancel shipments at any time.</p>
    </div>
</div>
    </div>
  </div>

<div class="tab_data product-content-tab-12" id="who_it_for">
  <div class="accordion_tab_header down-arrow">WHO'S IT FOR?</div>
  <div class="tabContent closed">
       <!--adult_13+_section start -->
    <div class="adult_conatiner">
        <div class="adult_row">
            <div class="adult_col adult_image_fix">
                <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/kidsWhatIsItFor_1.jpg?v=1656671608" alt="flore kids" loading="lazy" />
            </div>
            <div class="adult_col">
                <div class="adult_small_col_one">
                    <h3>KIDS 4-12</h3>
                    <p>Our custom probiotics can help kids ages 4-12 with all sorts of issues, including, but not limited to:</p>
                </div>
                <div class="adult_small_col_two">
                    <div class="adult_small_data_col">
                        <ul>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Bloating</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark"  loading="lazy"/>
                                <p>Constipation</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>IBS</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Crohn’s or Colitis</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Food sensitivities</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Stomach pain</p></li>
                     
                        </ul>
                    
                    </div>
                    <div class="adult_small_data_col">
                        <ul>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Autism Spectrum
Disorder</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Infammation</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Eczema</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>ADHD</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="checkmark" loading="lazy" />
                                <p>Sleep issues</p></li>                 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--adult_13+_section end -->
  </div>
</div>



