<style>
.adult_conatiner {
            max-width: 1200px;
            margin: 0 auto;
        }

        .adult_small_data_col div p::before{
            background-image: url(https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590);
    background-size: 30px 30px;
    display: inline-block;
    width: 37px;
    height: 32px;
    content: "";
    margin-top: 5px;
    background-repeat: no-repeat;
        }

        .adult_small_data_col ul li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
  .branding-logo-link img {
    height: auto;
}

        .adult_row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 2rem;
        }



        .adult_small_col_one h2 {
            font-weight: 600;
            font-size: 25px;
            color: #FF5C35;
            font-family: 'sk-modernist', sans-serif;
        }
.tab_data{
background-color:#f0f0f0;
}
        .adult_small_col_one p {
            font-size: 20px;
            font-family: 'sk-modernist', sans-serif;
            color: #231f20;
            font-weight: 400;
            line-height: 1.4;
            padding: 0 0 15px;
        }

        .adult_image_fix img {
            width: 100%;
        }

        .adult_small_col_two {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .adult_small_data_col div {
            display: flex;
            gap: 1rem;
            align-items: center;
        }


  .adult_small_data_col p {
    text-align: left;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    line-height:1.4;
    font-family: 'sk-modernist', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding:0;
  }

        .adult_small_data_col img {
            width: 12%;
            height: 12%;
        }

        @media only screen and (max-width: 768px) {
            .adult_row {
                grid-template-columns: unset;
            }

            .adult_small_col_one {
                text-align: center;
            }
        }
  .producttab {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 10px 0px;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 28px;
    font-weight: 700;
    color:#231f20;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    text-decoration: underline;
    color: #FF5C35;
  }

  /* Style the tab content */
  .tabcontent {
    padding: 6px 12px;
  }

  .productsection2 {
    background-color: #f0f0f0;
    padding: 50px 0px 50px 0px;
  }

  .productsection21 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .productsection2-1 {
    display: flex;
    column-gap: 3rem;
    margin-bottom: 50px;
  }

  .productsectioncol1 {
    width: 25px;
  }

  .productsectioncol2 {
    width: 70%;
    padding-right: 50px;
  }

  .productsection2 h5 {
    font-size: 35px;
    font-weight: 700;
    color: #FF5C35;
    line-height: 1.2;
    margin: 0px 0px 10px 0px;
    font-family: 'sk-modernist';
  }

  .productsection2 p {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    line-height: 1.4;
    margin: 0px 0px 10px 0px;
    font-family: 'sk-modernist';
  }

  .productsectioncol3 {
    width: 30%;
  }

    .vr1 {
        background: #FF5C35;
        border: 3px solid transparent;
        border-radius: 10px 10px 0px 0px;
        margin: 0;
        width: 1px;
        height: 9%;
        margin-left: 0px;
        border-bottom-color: #fff;
        position: relative;
        transition: all 0.5s ease;
        max-height: 100%;
    }

    .horizon {
        height: 100%;
        background: #fff;
        width: 5px;
        align-items: center;
        margin-left: 20px;
    }

  .horizon1 {
    height: 100%;
  }

  .horizon span {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    background-color: #FF5C35;
    padding: 10px;
    border-radius: 50px;
  }

  .horizon1 span {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
  }

  .productsectioncol1-1 {
    display: flex;
    gap: 2rem;
    margin-bottom: 60px;
    }
  
  span.no_one, span.no_two, span.no_three, span.no_four {  
    position: absolute;
    margin-left: -81px;
    margin-top: -10px;
    background-color: #fff;
    padding: 14px 22px;
    border-radius: 100%;
    font-size: 25px;
    font-weight: 700;
    color: #FF5C35;
    line-height: 1.2;
    transition: all 0.5s ease;
  }
    span.no_one{
    background-color: #FF5C35;
    color: #fff;
    }
  .retestingSection {
    padding: 15% 20px;
    background: url(https://cdn.shopify.com/s/files/1/2204/9357/files/Color_Fill_17_1.jpg?v=1654684588);
    background-size: cover;
    background-position: center;
    text-align: center;
}
  .retestingSection h3{
  font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: sk-modernist,sans-serif;
    color: #fff;
  
  }
  .retestingSection p{
    font-family: "sk-modernist";
    color: #fff;
    font-size: 18px;
  }
  
  
  
  @media (max-width: 768px) {
    .productsectioncol3 img {
      width: 100%;
    }

    .productsectioncol2 {
      width: auto;
      padding-right: 0px;
    }

    .productsection2 {
      padding: 50px 10px;
    }

    .productsection2 h5 {
      font-size: 28px;
    }

    .productsection2 p {
      line-height: 1.6;
      font-size:16px!important;
    }

    .productsectioncol1-1 {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
    .productsectioncol3 {
      width: auto;
    }
    .tab button {
      font-size: 26px;
    }
    
    .retestingSection h3{
  font-size: 30px;
  
  }
  .retestingSection p{
    font-size: 16px;
  }
    
    
  }

  .producttab {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 10px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
  }
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 28px;
    font-weight: 700;
    font-family: "sk-modernist";
    color:#231f20;
  }
.whats-included-li-head{
display: flex;
    align-items: center;
    justify-content: start;
}
.adult_image_fix img {
border-radius: 25px;

}
.whats-included-li-head:before{
    background-image: url(https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590);
    background-size: 30px 30px;
    display: inline-block;
    width: 37px;
    height: 32px;
    content: "";
    margin-top: 5px;
    background-repeat: no-repeat;
}
  .tab button.active {
    color: #FF5C35;
    text-decoration: underline;
  }

  div.tab_data {
    padding: 70px 10px;
  }
  #what_is_tested, #what_included, #who_it_for {
    display: none;
  }
  .tabContent {
    max-width: 1200px;
    width: 100%;
    margin: auto;

  }

  .flex-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: end;
  }
  .image_column {
    width: 25%;
    text-align: center;
  }
  .image_column img {
    width: 120px;
    margin-bottom: 20px;
  }
  .tabContent h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    font-family: "sk-modernist";
    margin-bottom: 15px;
  }

  .testDetailOuter {
    margin-bottom: 70px;
  }

  .testDetailOuter h5 {
    font-size: 36px;
    font-weight: 700;
    font-family: "sk-modernist";
    color: #FF5C35;
  }

  .testDetailOuter span {
    color: #231f20;
    font-family: "sk-modernist";
    font-size: 24px;
    font-weight: 500;
  }

  .viewMore {
    font-family: "sk-modernist";
    font-size: 20px;
    padding: 14px 55px 18px;
    border-radius: 50px;
    color: #000;
    border: 3px solid #FF5C35;
    font-weight: 500;
    letter-spacing: 1.3px;
    line-height: 1;
    margin-top: 20px;
  }

  p.content {
    font-size: 20px;
    font-family: "sk-modernist";
    color: #231f20;
    font-weight: 400;
    line-height: 1.4;
  }

  .points-check li {
    display: inline-flex;
    margin-right: 40px;
    font-family: "sk-modernist";
    color: #231f20;
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px 0px 0px;
  }

  .points-check {
    margin: 0px;
  }

  .points-check li:before {
    background-image: url("https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590");
    background-size: 30px 30px;
    display: inline-block;
    width: 37px;
    height: 32px;
    content: "";
    margin-top: 5px;
    background-repeat: no-repeat;
  }

  .points-check-2 li {
    font-family: "sk-modernist";
    color: #231f20;
    font-weight: 500;
    font-size: 22px;
    display: inline-flex;
    width: 33.33%;
  }

  .points-check-2 {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .points-check-2 li:before {
    background-image: url("https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590");
    background-size: 30px 30px;
    display: inline-block;
    width: 37px;
    height: 32px;
    content: "";
    margin-top: 5px;
    background-repeat: no-repeat;
  }

  /*What includes*/

  .flex {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 0px 30px;
  }

  .column-area {
    width: 48%;
  }

  .column-area.left {
    display: inline-flex;
    gap: 20px;
  }

  .text_area h5 {
    color: #FF5C35;
    font-size: 22px;
    font-weight: 700;
    font-family: "sk-modernist";
  }

  .column-area.left img {
    width: 100%;
    max-width: 150px;
    height: fit-content;
    max-height: none;
  }

  .text_area .points-check li:before {
    background-image: url(https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590);
    background-size: 20px 20px;
    display: inline-block;
    width: 32px;
    height: 20px;
    content: "";
    margin-top: 11px;
    background-repeat: no-repeat;
  }

  .column-area.right {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
  }

  .column-area.right p {
    font-family: "sk-modernist";
    font-size: 20px;
    line-height: 1.4;
    color: #211f20;
    font-weight: 400;
  }

  .text_area .points-check li {
    display: inline-flex;
    font-family: "sk-modernist";
    color: #231f20;
    font-weight: 500;
    font-size: 24px;
    margin: 2px 0px 0px 0px;
  }

  .flex_2 {
    display: inline-flex;
    gap: 40px;
    margin-top: 60px;
  }

  .flex_2 img {
    width: 100%;
    max-width: 170px;
    height: max-content;
  }

  .right_area h3 {
    font-size: 24px;
    color: #FF5C35;
    margin-bottom: 0px;
  }

  .right_area p {
    font-size: 24px;
    line-height: 1.4;
    color: #211f20;
    font-family: "sk-modernist";
    font-weight: 400;
  }

  div#who_it_for span {
    font-size: 22px;
    line-height: 1.4;
    color: #211f20;
    font-family: "sk-modernist";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion_tab_header {display: block;font-size: 25px;font-family: 'sk-modernist';font-weight: 500;color: #000; display: none;}

  .accordion_tab_header.down-arrow:after {content: '\f107';position: absolute;right: 20px;font-family: 'FontAwesome'; color: #000;}
  .accordion_tab_header.minus:after {content: '\f068';position: absolute;right: 20px;font-family: 'FontAwesome'; color: #000; margin-top: 5px; font-size: 16px;}
  .accordion_tab_header.active {
    color: #ff7019;
  }
  div#bottom-swing{
      display: none;
    }


  @media (max-width: 768px) {
    span.text_after_cta {
      font-size: 16px;
    }
    .tab button {
      font-size: 22px;
    }
    div.tab_data {
      padding: 10px 15px 10px;
      background-size: 230% 100%;
      background-position-x: center;
      background: #efefef;
    }

    .producttab {
      /*flex-direction: column;*/
      display: none;
    }   


    .tabContent{
    transition: all 1s ease;
    overflow: hidden;
    opacity:1;
    height: 100%;
  }
  .tabContent.closed {
    opacity: 0;
    height: auto;
    max-height: 0px;
    transition: all 1s ease;
    padding-top: 0px !important;
  }

    .tabContent h3 {
      font-size: 24px;
    }

    .testDetailOuter h5 {
      font-size: 32px;
      line-height: 1.2;
    }

    .testDetailOuter span {
      font-size: 22px;
      line-height: 1.3;
    }

    .points-check li {
      font-size: 18px;
      width: 38%;
      margin-bottom: 0px;
      margin-top: 0pc;
    }

    .points-check li::before {
      background-size: 22px 22px;
      width: 28px;
    }

    ul.points-check {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .points-check-2 li {
      font-size: 18px;
      width: 50%;
      margin: 0px;
      margin-bottom: 10px;
      line-height: 1.2;
    }

    .points-check-2 li::before {
      background-size: 22px 22px;
      width: 36px;
      z-index: 9999;
    }

    .skk:before{
        width: 54px!important;
    height: 32px;
    }
    ul.points-check-2 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    p.content {
      font-size: 18px;
    }

    .viewMore {
      padding: 10px 30px;
      font-size: 18px;
      margin-top: 10px;
    }

    .flex-row {
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      margin-bottom: 0px;
      gap: 40px 0px;
    }
    
    .image_column {
      width: 50%;
    }

    .image_column img {
      width: 120px;
     margin-bottom: 20px;
     height: 120px;
     object-fit: contain;
    }

    .column-area {
      width: 100%;
    }

    .column-area.left {
      display: block;
    }

    .column-area.left img {
      margin: auto;
      display: block;
      margin-bottom: 30px;
      height: auto;
    }

    .text_area .points-check li {
      width: 100%;
    }

    .text_area .points-check {
      display: block;
    }

    .column-area.right {
      margin-top: 30px;
    }

    .flex_2 {
      display: block;
    }

    .flex_2 img {
      display: block;
      margin: auto;
      margin-bottom: 30px;
      height: auto;
    }
    .accordion_tab_header{
      display: block;
    }
    div.tab_data > .tabContent {
    padding-top: 30px;
    }
    #what_is_tested, #what_included, #who_it_for{
      display: block;
    }
    div#bottom-swing{
      display: block;
    }
    .upgrade_save_row form.product-form {
    display: block;
    }

  }
</style>
<div class="producttab">
  <div class="tab">
    <button class="tablinks active" data-tab-details="how_it_works">
    HOW IT WORKS
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="what_is_tested">
      WHAT IS TESTED
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="what_included">
      WHAT'S INCLUDED
    </button>
  </div>
  <div class="tab">
    <button class="tablinks" data-tab-details="who_it_for">
      WHO'S IT FOR?
    </button>
  </div>
</div>


<div class="tab_data" id="how_it_works">
<div id="how_it_works" class="productsection2 tabcontent">
  <div class="productsection21">
    <div class="productsection2-1">
      <div class="productsectioncol1">
        <div class="horizon">
          <div class="vr1"></div>
        </div>
      </div>
      <div class="right_area">
      <div class="productsectioncol1-1">
        <div class="productsectioncol2">
          <span class="no_one">1</span>
          <h5>Sample Collection</h5>
          <p>Floré Microbiome Gut Test equips you to collect and send a micro-stool sample discreetly and in the comfort of your own home. </p>
        </div>
        <div class="productsectioncol3">
          <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Side_View_Open_Box-Mockup_with_trey_3-1.png?v=1646659056" alt="" />
        </div>
      </div>

      <!-- Section 2 -->

      <div class="productsectioncol1-1">
        <div class="productsectioncol2">
           <span class="no_two">2</span>  
          <h5 class="no_two">Your Sample Analysis</h5>
          <p>Our world-class team of scientists extracts and sequences your microbial DNA, and each report is personalized, keeping your health goals in mind.</p>
		  <p>The Floré website and Floré Mobile App provide access to your comprehensive report that showcases everything about your gut!
          </p>
        </div>
        <div class="productsectioncol3">
          <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Iphone.png?v=1646659056" alt="" />
        </div>
      </div>

      <!-- Section 3 -->
    <div class="productsectioncol1-1">
        <div class="productsectioncol2">
           <span class="no_three">3</span>  
          <h5>Custom Probiotic Formulation</h5>
          <p>Using the microbiome results and your Health & Diet Survey responses, our formulations team puts together a custom blend of probiotics and prebiotics to improve your gut health. </p>
        </div>
        <div class="productsectioncol3">
          <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/BambooBottles.png?v=1654683510" alt="" />
        </div>
      </div>
	<!--  Section 4  -->
    <div class="productsectioncol1-1">
        <div class="productsectioncol2">
           <span class="no_four">4</span>  
          <h5>Track Your Progress</h5>
          <p>Meet with a Floré Care Scientist to dive into your report and get customized suggestions. Use the web portal and mobile app to track how you’re feeling and improving each week. Retest with a free retesting kit every 4 months. Free reformulations offered if the formula is not working for you.</p>
        </div>
        <div class="productsectioncol4">
          <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Screen_Shot_2022-02-03_at_1.03.02_PM.png?v=1646659056" alt="" />
        </div>
      </div>    


</div>
    </div>
  </div>
</div>
</div>

<div class="tab_data" id="what_is_tested">
  <div class="accordion_tab_header down-arrow">WHAT IS TESTED</div>
  <div class="tabContent closed">
    <h3>The first step is the Floré Gut Health Test, which will give <br>you a detailed look at your gut microbiome.  </h3>
    <div class="testDetailOuter">
      <span
        >Our gut health test can detect over 23,000 microbes in your gut,
        including:</span
      >
      <ul class="points-check">
        <li>Bacteria</li>
        <li>Fungus</li>
        <li>Yeast</li>
        <li>Parasites</li>
        <li>Viruses</li>
      </ul>
      <p class="content">
        With the use of whole genome sequencing technology, we can detect these down to the strain level and the relative abundance of each microbe. You’ll receive a complete microbiome report, including other health scores such as your Immunity and joint health. Use your gut information to determine which foods and supplements are best for you, or upgrade to our Precision Probiotics for your custom gut health solution.
      </p>
    </div>
    </div>
  </div>
</div>


<div class="tab_data" id="what_included">
  <div class="accordion_tab_header down-arrow">WHAT'S INCLUDED</div>
  <div class="tabContent closed">
    <div class="whats-included-row">
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Microflora Analysis</h3>
        <p class="whats-included-li-content">Start with the at-home stool microbiome test. Your results identify bacteria, yeast (fungi), viruses, and parasites in an easy to understand process using real-world explanations and actionable recommendations. This analysis also includes a Floré Gut Health score using a patented system developed by our team to help you track your gut health over time. </p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Custom Probiotic Formula</h3>
        <p class="whats-included-li-content">Our formulation scientists use your Health & Diet survey responses and your microbiome results to create a truly custom formula focusing on the specific issues in your gut. Each formula has a custom mix of probiotics and prebiotics and the CFU varies depending on your needs. </p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Sustainable Packaging</h3>
        <p class="whats-included-li-content">Your first month's supply of precision probiotics will come with an environmentally-friendly personalized bamboo container shipped directly to your door. Refills will come in small recyclable pouches so you can refill your bamboo container and reduce waste. Boxes and ice packs are also recyclable.</p>
    </div>
    <div class="whats-included-inner-row">
        <h3 class="whats-included-li-head">Mobile App</h3>
        <p class="whats-included-li-content">In addition to our web portal, you can use the Floré mobile app for free to view your results and formula. View trends and changes between results on the app. Weekly surveys and daily stool logs on the app allow you to keep track of your gut health over time. (Weekly surveys also available on the web portal.) </p>
    </div>
</div>
    </div>
  </div>
</div>

<div class="tab_data" id="who_it_for">
  <div class="accordion_tab_header down-arrow">WHO'S IT FOR?</div>
  <div class="tabContent closed">
       <!--adult_13+_section start -->
    <div class="adult_conatiner">
        <div class="adult_row">
            <div class="adult_col adult_image_fix">
                <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/ADILTS.webp?v=1677057796" alt="" />
            </div>
            <div class="adult_col">
                <div class="adult_small_col_one">
                    <h2>Children 13+ and Adults</h2>
                    <p>Our custom probiotics can help individuals 13 and older with all sorts of issues, including, but not limited to:</p>
                </div>
				<div class="adult_small_col_two">
                    <div class="adult_small_data_col">
                        <ul>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Bloating</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Constipation</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>IBS</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Crohn’s or Colitis</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Food sensitivities</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Stomach pain</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Mood issues</p></li>
                        </ul>
                    
                    </div>
                    <div class="adult_small_data_col">
                        <ul>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>SIBO</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Infammation</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Acne, eczema, psoriasis, or other skin issues</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Joint pain</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Brain fog</p></li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/checkmark_1.png?v=1648035590" alt="" />
                                <p>Sleep issues</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--adult_13+_section end -->
  </div>
</div>
<div id="bottom-swing">
  <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Color_Fill_18_1.png?v=1649329645">
</div>

<script>
$(document).ready(function () {
  jQuery(window).resize(function () {
    accordion();
  });

  function accordion() {
    if (jQuery(window).width() < 769) {
      jQuery(".tab_data").show();
      jQuery(".accordion_tab_header").on("click", function () {
        console.log('.accordion_tab_header Clicked');
        if (jQuery(this).hasClass("active")) {
          jQuery(this).removeClass("active").removeClass("minus");
          jQuery(this).addClass("down-arrow");
          jQuery(this).parent().find(".tabContent").addClass("closed");
          console.log("in if part");
        } else {
          jQuery('.accordion_tab_header').removeClass("active").removeClass("minus");
          jQuery('.accordion_tab_header').addClass("down-arrow");
          jQuery(".tabContent").addClass("closed");
          jQuery(this).removeClass("down-arrow");
          jQuery(this).parent().find(".tabContent").removeClass("closed");
          jQuery(this).addClass("active").addClass("minus");
          console.log("in Else part");
        }
      });
    } else {
      jQuery(".tablinks").on("click", function () {
        var selected = $(this).data("tab-details");
        jQuery(".tablinks").removeClass("active");
        jQuery(this).addClass("active");
        jQuery(".tab_data").hide();
        jQuery("#" + selected).show();
      });
    }
  }
  accordion();
});

</script>
<script type="text/javascript">
    const box = document.querySelector('#how_it_works');
const el1 = document.querySelector('.vr1');
const el2 = document.querySelector('.no_two');
const el3 = document.querySelector('.no_three');
const el4 = document.querySelector('.no_four');

function elementsOverlap(el1, el2) {
  const domRect1 = el1.getBoundingClientRect();
  const domRect2 = el2.getBoundingClientRect();

  return !(
    domRect1.top > domRect2.bottom ||
    domRect1.right < domRect2.left ||
    domRect1.bottom < domRect2.top ||
    domRect1.left > domRect2.right
  );
    
}


document.addEventListener('scroll', function () {
    let setHeight = 0;
let a = box.getBoundingClientRect();
    let windowH = $(window).height();
    
    
    if(a.top < (windowH) && a.top > 0){
        setHeight = ((((100 * a.top) / windowH)-100)*-1)+50;

        jQuery('.productsectioncol1 .vr1').css('height', setHeight + "px");
    }

    else if(a.top < a.height && a.top < 0){
        setHeight = (((100 * a.top) / a.height)*-1)+15;
        jQuery('.productsectioncol1 .vr1').css('height', setHeight + "%");
    }    

    if(elementsOverlap(el1, el2)){
jQuery(el2).css('background', "#FF5C35").css("color", "#fff");
        
    }
    else{

      jQuery(el2).css('background', "#fff").css("color", "#FF5C35");  
    }

    if(elementsOverlap(el1, el3)){
jQuery(el3).css('background', "#FF5C35").css("color", "#fff");
        
    }
    else{

      jQuery(el3).css('background', "#fff").css("color", "#FF5C35");  
    }
  if(elementsOverlap(el1, el4)){
jQuery(el4).css('background', "#FF5C35").css("color", "#fff");
        
    }
    else{

      jQuery(el4).css('background', "#fff").css("color", "#FF5C35");  
    }
     
})

</script>