<style>

  .lp-two-row{
   max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .section-two--wrapper{
  padding:120px 0;
    position: relative;
  }
  
  .two-description{
      font-family: SunGenomics,sans-serif;
    font-size: 26px;
    line-height: 1.6;
    color: #000;
    font-weight: 100;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .two-heading{
      font-size: 42px;
    color: #206766;
    font-weight: bold;
    text-align: center;
        padding: 60px 0 40px;
    font-family: 'sk-modernist';
    
    line-height: 46px;

  }
  
  .two-description strong{
  font-weight:700;
  }
  
  .waves{
    display:none;
      position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    left: 0; 
  }
  .waves2{
  position: absolute;
    bottom: -4px;
    z-index: 1;
    left: 0; 
    width:100%
  }
  .waves2 img {
    width: 100%;
	}
  iframe .tp-widget-wrapper div#footer {
    display: none !important;
	}
  .waves-svg-top svg {
  position: absolute;
    bottom: -1px;
  
  }
  
  
   @media(max-width:1200px){
  
    .section-two--wrapper {
    padding: 100px 12px;
    position: relative;
	}
     
     .waves-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 28rem;
    width: 100%;
}

  
  }
  
  
  @media(max-width:768px){
  
    .waves2 {
    position: absolute;
    bottom: -15px;
    z-index: 1;
    width: 100%;
      left: 0; 
}
    .two-description{
    font-size:18px;
    }
    .waves {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    left: 0;
}
    .section-two--wrapper {
    padding: 30px 12px 60px;
    position: relative;
}
    
    .waves-top {
    display:none;
}
    .two-heading {
    font-size: 32px;
    line-height: 1.2;
}
   .waves-svg-top svg {
    position: absolute;
    bottom: -1px;
    transform: translateX(-12px);
} 
    
    
  }

</style>


<section class="section-two--wrapper">
  <div class="waves"><img src="https://cdn.shopify.com/s/files/1/2204/9357/files/waves.png?v=1649240514"></div>
<!--   <div class="waves-svg-top">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs" version="1.1" viewBox="0 0 2400 450" opacity="1">
        <g fill="#6fa3a3" transform="matrix(1,0,0,1,7.6488037109375,331.57323455810547)">
            <path
                d="M-10,10C54.58333333333333,18.75,172.91666666666666,55.958333333333336,300,52C427.08333333333337,48.041666666666664,475,-9,600,-9C725,-9,775,55.75,900,52C1025,48.25,1075,-23.25,1200,-27C1325,-30.75,1375,35.25,1500,34C1625,32.75,1675,-36.75,1800,-33C1925,-29.25,1975,46.791666666666664,2100,52C2225,57.208333333333336,2285.4166666666665,-80.5,2400,-8C2514.5833333333335,64.5,3254.1666666666665,210.83333333333331,2650,400C2045.8333333333335,589.1666666666667,156.25,795.8333333333334,-500,900"
                transform="matrix(1,0,0,1,0,35)" opacity="NaN" />
        </g>
    </svg>
  </div> -->
  <div class="lp-two-row ">
  
    <div class="lp-two-inner-row">
      {% if section.settings.description != blank %}
      <h4 class="two-description">{{section.settings.description}}</h4>
      {% endif %}
            {% if section.settings.heading != blank %}
      <h3 class="two-heading">{{section.settings.heading}}</h3>
      {% endif %}
      
    </div>
  
  </div>

    <!-- TrustBox widget - Slider -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="611d485afbb33b001d3d993f" data-style-height="240px" data-style-width="100%" data-theme="light" data-stars="5" data-review-languages="en">
  <a href="https://www.trustpilot.com/review/flore.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->


</section>


{% schema %}
{
  "name": "Lp Section Two",
  "class": "lp-section-two",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
	"presets":[{
	"name": "Lp Section Two"
}]
}
{% endschema %}