<style>
.refer-a-friend-wapper{
padding: 70px 0;
}
.refer-a-friend-wapper .yotpo-tile{
background: #efefef !important;
}
.refer-a-friend-wapper .yotpo-background{
background: #efefef !important;
}


.yotpo-widget-referral-widget .yotpo-right-align-background .yotpo-tile-box{
  background: #efefef !important;
}



@media(max-width: 767px){
.refer-a-friend-wapper {
    padding: 30px 0;
}

}




  
</style>
<div class="refer-a-friend-wapper">
    <div class="yotpo-widget-instance" data-yotpo-instance-id="33736"></div>
</div>


  {% schema %}
{
  "name": "refer-a-friend",
  "settings": [],
    "presets": [
    {
      "category": "Advanced content",
      "name": "Refer a friend",
      "settings": {}
    }
  ]
}
{% endschema %}