<style>
.section-giving-back {
    background: #dce3ec;
}

  .main-row {
  display:flex;
    padding: 50px 0;
  }
  
  .column-main {
  width:975px;
  }
  .section-giving-back .column-main {
    border-left: 1px solid #eef1f6;
        padding-left: 50px;
    padding-bottom: 20px;
}
  .column-left img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
  .section-giving-back .column-left {
    border-right: 1px solid #c7d1de;
}
  .atmousepopup-link {
      color: #FF5C35;
    text-decoration: none;
    cursor: pointer;
    font-size:16px;
  }
  a .fa {
    font-size: 14px;
    margin-right:10px;
}
  .head02{
  font-size: 1.4rem; 
   padding-bottom: 5px;
   font-weight:500;
    line-height: 1.15;
    color: #404040;
  }
  .atmousepopup-link:hover {
    color: #FF5C35;
  }
  .image-for-mobile {
  display:none;
  }
  

  @media(max-width:768px){
  
    .image-for-mobile {
    display:block;
    float:right;
          max-width: 120px;
    padding: 0 0 12px 20px;
    }
    .section-giving-back .column-main{
    border:None!important;
      padding-left:0!important;
    }
    .column-left {
    display:None;
    }
    .column-main{ width:100%!important;}
  }
  
</style>



<section class="section-giving-back">
	<div class="global-container-1200 ">
	<div class="main-row">	
      <div class="column-left" style="width: 225px;">
			<img class="logo-candcfoundation lazyload" data-src="{{section.settings.image |img_url:'master'}}" alt="Crohn's & Colitis Foundation">
		</div>
		<div class="column-main">
			<div class="">
				<h2 class="head02">{{ section.settings.text }}</h2>
              <div class="text02">{{ section.settings.text2}}</div>
				<a href="#" id="leavingsite-link" class="atmousepopup-link" data-target="popup-leavingsite" data-popup-width="200" style="display: inline-block; margin-top: 15px;">
                  <i class="fa fa-share-square" aria-hidden="true"></i>{{ section.settings.button_text }}</a>
			</div>
		</div>
      </div>
	</div>
</section>


{% schema %}
{
"name": "section giving back",
"settings": [
{
      "type": "text",
      "id": "text",
      "label": "Text 1"
      },
      {
      "type": "text",
      "id": "text2",
      "label": "Text 2"
      },

      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default":"Get Started"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"

      }
      ],
      "presets": [
      {
      "category": "Advanced content",
      "name": "Section Giving Back",
      "settings": {}
      }
     ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
// raghav is great 2
// 	$(document).ready(function(){
			
// 		$('#leavingsite-link').click(function(e){
// 			$('.popup-screen').show();
//           	$('#popup-leavingsite').show();
// 		});
		
// 		$('.popup-screen').click(function(e){
// 			$('.popup-screen').hide();
// 			$('.popup').hide();
//           $('#popup-leavingsite').hide();
// 		});
		
// 		$('.leavingsite-go-link').click(function(e){
// 			$('.popup-screen').hide();
// 			$('.popup').hide();
//           $('#popup-leavingsite').hide();
// 		});
//       $('.popup-close').click(function(e){
// 			$('.popup-screen').hide();
// 			$('.popup').hide();
//           $('#popup-leavingsite').hide();
// 		});
// 	});
</script>