.thrMonth_international{
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -20px;
    padding: 0;
}
 
 
 .Inflammation-padd{
   padding-top: 7px !important;
  }

.badge-wrapper{
max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.badge-wrapper-inner{
width:80px;
}


.product-slideshow-navigation {
        -webkit-transition: all .7s cubic-bezier(.25, .46, .45, .94);
        -ms-transition: all .7s cubic-bezier(.25, .46, .45, .94);
        -o-transition: all .7s cubic-bezier(.25, .46, .45, .94);
        transition: all .7s cubic-bezier(.25, .46, .45, .94);
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin-top: -30px;
        z-index: 2;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
        color: #aeaeae;
}
  strong {
        font-weight: 700;
}
  .product-image-container{
  position: relative;
    display: block;
  }
  .product-options .selected-option{
    padding-left: 10px;
  }
  .product-slideshow-pagination-item {
        -webkit-transition: all .2s cubic-bezier(.25, .46, .45, .94);
        -ms-transition: all .2s cubic-bezier(.25, .46, .45, .94);
        -o-transition: all .2s cubic-bezier(.25, .46, .45, .94);
        transition: all .2s cubic-bezier(.25, .46, .45, .94);
        -webkit-background-size: cover;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        padding: 2px;
        margin: 0 10px 10px 0;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .5;
}
  .product-slideshow-pagination-item.active {
        opacity: 1;
}
  .product-big-image img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
}
  .product-slideshow {
        position: relative;
        padding-right: 20px;
}
.product-slideshow, .product-wrap {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 16px;
}
  .padding-b-25 {
        padding-bottom: 25px;
}

.product-thumbnails {
        margin-top: 70px;
        text-align: center;
        font-size: 0;
}
  .product-slideshow-previous {
        left: 0;
}
  .product-slideshow-next {
        right: 0;
}
  .product-wrap {
    text-align: left;
    padding-left: 30px;
}
  .number-input-wrapper {
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}
  .rc_popup{
  display:none!important;
  }
  @media screen and (max-width: 720px){	
    
   .product-slideshow {
    max-width: 600px;
    padding-right: 0;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
	}
    .product-slideshow, .product-wrap {
    display: block;
    width: 100%;
    padding: 0;
	}
    .number-input-field {
    text-align: center;
    width: 100%;
}
    
    .product-options, .product-quantity {
    width: 65%;
    
  } 
    
    .number-input-nav-item:first-child {
    right: 0;
    border-left: 1px solid #e6e6e6;
    border-bottom: none;
}
    .product-form-nav {
	float:none!important;
    }
    .add-to-cart {
    text-align:left!important;
      margin:0px!important;
    }
    .number-input-nav-item {
    position: absolute;
    height: 53px;
    width: 53px;
    line-height: 53px;
	}	
    .number-input-nav-item:last-child {
    left: 0;
    border-right: 1px solid #e6e6e6;
	}
   
    
  }
  @media(max-width:480px){
			.element-5faec5464013e .section-horizontal-inner{		
			    background-image: url('https://cdn.shopify.com/s/files/1/2204/9357/t/10/assets/defense-testimonial-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px calc(100% - 40px);
    background-size: 180%;
		}
		}
  
  

  .page-product-detail {
    background: #ffffff;
  }
  .product-header-wrapper {
    background: #fff !important;
  }
  
  h1.productTitle {
        max-width: 500px;

    color: #FF5C35;
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    font-family: 'sk-modernist',sans-serif;
    margin-bottom:20px;
}

.product-price .price{
margin-bottom:15px;
      color: #FF5C35 !important;
    font-size: 24px;
    font-family: 'sk-modernist',sans-serif;
    font-weight: 700 !important;
}

.product-description-short{
color: #211f20;
    font-size: 18px;
    line-height: 1.3;
  	font-family: 'sk-modernist',sans-serif;
    font-weight: 400;
  	padding-bottom:0px;
}

p.sub-title-product {
    padding: 0px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'sk-modernist',sans-serif;
}

.product-price .money {
    color: #FF5C35;
    font-size: 24px;
  	font-family: 'sk-modernist',sans-serif;
    font-weight: 700 !important;
}

.product-subtitle{
font-size: 20px;
    margin: 10px 0;
}

.product-description-short p {
    color: #211f20;
    font-size: 17px;
    line-height: 1.3;
  	font-family: 'sk-modernist',sans-serif;
    font-weight: 400;
  	padding-bottom:0px;

}  
 
.product-description-short ul {
    margin: 5px 0px 10px 0px;
    margin-left: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  flex-direction:column;
}
.product-description-short ul li {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
    color: #211f20;
    font-family: 'sk-modernist',sans-serif;
    font-weight: 400;  
}
.product-description-short li:before {
  content: "\f058"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #FF5C35;  
}   
  .btn-heavy{
    background: #FF5C35;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 14px;
    display: inline-flex;
    color: #fff;
    margin-top: 10px;
    align-items: center;
  }
  
  .btn-heavy svg{
       height: 31px;
    margin: auto;
    width: 35px;
    fill: #FFF;

  }
 
  .btn-heavy:hover{
    background: #F55B38;
    color: #FFF;
  }
    
  
form.product-form {
    display: inline-flex;
}  
  
.htusb-placeholder-deadline {
    display: none;
}  
.number-input-field {
    height: 43px;
    width: 22px;
}

.number-input-wrapper {
    border-radius: 50px;
    border: 1px solid #b8b8b8;
    padding: 0 10px;
}

.number-input-nav-item {
    border: none !important;
    padding-top: 7px;
    color: #b8b8b8 !important;
  	width: 36px;
}

.number-input-field input#quantity {
    padding: 0px;
    width: 20px;
}  
.page-product-detail .product-header .add-to-cart-button {
    background: #FF5C35;
    border-radius: 50px;
    padding: 14px 25px;
    line-height: 1;
}  
  
  .slider_outer{
  	max-width:1200px;
    margin:auto;
  } 
  .padding-b-75 {
	padding-bottom: 0px;
  }
  .add-to-cart {
    margin: 0 0;
	}
  
  
  
  @media(max-width:700px){
.yotpo_review_wapper {
  text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }    

  
  	.product-description-short .hide-morethan-800 {
    padding-top: 0px !important;
  }
    .product-description-short, .cancellations-text{
    text-align:center;
    }
    .product-subtitle{
    font-size:16px;
      text-align:center; 
    }
    .page-product-detail h1{
   	padding-top:30px;
    }
    
    .imp_point li{
    font-size: 14px !important;
    text-align: center;
    }
    
  .number-input-wrapper.product-quantity {
      width: 90px !important;
      z-index: 9999;
  }

  .number-input-nav-item {
      line-height: 28px;
      z-index: 999;
  }

  .number-input-field input#quantity {
      width: 40px !important;
      line-height: 1;
  }
   .number-input-nav-item.icon.icon-plus {
   	  right: 0 !important;
      left: auto;
	}
    .number-input-nav-item.icon.icon-minus {
      left: 0 !important;
      width: 30px;
	}
     .product-form-submit-wrap:not(:last-child){
    padding:0px;
    }
    .page-product-detail .product-header{
        padding: 0px 0 30px;
    }
    h1.productTitle {
    font-size: 32px;
      text-align: center;
    }
    .page-product-detail .product-header {
    gap: 1rem;
    }
    
    .product-price .price{
    justify-content:center;
    }
    
    form.product-form{
    justify-content: center;
    align-items: center;
    display: flex;
    }
    
    .imp_point{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    }
    .imp_point li:last-child {
    grid-column: 1/span 2;
    }
    .imp_point li{
    padding:0!important;
    }
    
    .product-wrap {
      padding:0 13px;
    text-align:center;
    }
    
    .product-description-short ul li{
    width:100%;
    }
  } 

.product-description-short h4{
	margin-top:15px;
}

.add-to-cart-button .button-label{
	text-align:center!important;
}

.add-to-cart-button .button-subtext{
	display:none!important;
}

.product-big-image img {
height: 100%;
  object-fit: contain;
}
.product-image-container{
height: 300px;
}

@media(max-width:768px){

.product-description-short ul {
    margin: 5px 0 10px 44px;
    text-align: left;
}
  .product-big-image img {
height: 300px;
object-fit: contain;
width: 80%;
}
  .page-product-detail .product-header .add-to-cart-button {
    padding: 15px 25px!important;
}
  
}
.product_batch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
      text-align: center;

}

.product_batch img{
    width: 70px;
    padding-bottom: 1rem;
}
.product_batch h4{
  font-size: 16px;
  
}
.calprotectin_heading strong{
  padding: 10px 0;
}
/* Yotpo Review Css */
.yotpo_review_wapper {
    min-height: 18px;
}
.shopify-app-block {
  min-height: 100vh;
}
section.product-app--container, .yotpo.yotpo-main-widget, .yotpo-label.yotpo-small-box, .yotpo-display-wrapper {
    background-color: #fff !important;
}