<style>

	.scientific-papers-all{
  background-color:#F8F8F8;
    padding:75px 0;
  }
  
  
</style>



<div class="scientific-papers-all">

{% section 'scientific-papers' %}
{% section 'scientific-papers-2' %}
</div>